@import "shared";

.co-book-details-card {
    .book-image {
        width: 100%;

        .image {
            width: 100%;
        }

        .buttons-wrapper {
            position: absolute;
            bottom: 50px;
            left: 0;
            width: 100%;
        }
    }
}

.co-gallery-card-images {
    position: relative;
    padding: 20px;

    .co-images {
        width: 240px;
        height: 240px;
        position: relative;
        margin: auto;
        padding: 20px;

        a {
            display: none;

            &:first-child {
                display: block;
            }
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            position: absolute;

            &.image-1 {
                transform: rotate(-8deg);
            }

            &.image-2 {
                transform: rotate(8deg);
            }
        }
    }
}

.co-gallery-card {
    border: 8px solid var(--color-primary);

    .co-images img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
}

.into-section {
    position: relative;

    .co-intro {
        display: flex;
        background-image: url(../images/intro-shape-sm.svg), url(../images/intro-shape-lg.svg);
        background-repeat: no-repeat;
        background-position:
            100% 0,
            0 0;
        background-size: auto 100%;
        position: relative;

        .co-hero-image {
            width: 80%;
            margin: auto;
            margin-inline-start: 20%;
        }
    }

    .co-nav-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-secondary-50);

        &.show {
            display: block;
            position: fixed;
            background: var(--color-secondary);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;

            .container {
                max-width: unset;

                ul.nav-menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .nav-menu {
            display: flex;
            padding: 10px 0;
            margin: 0;
            list-style: none;

            .menu-item {
                &.has-sub-menu {
                    .menu-link {
                        &:after {
                            content: "\f107";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 0;
                            height: 15px;
                            margin-top: 10px;
                            margin-inline-start: 5px;
                        }
                    }
                }
            }

            a.menu-link {
                padding: 15px 16px;
                display: inline-flex;
                text-shadow: 0 0 5px #000;
                color: #fff;
                margin-inline-end: 5px;

                &.active,
                &:hover {
                    background-color: var(--color-primary);
                    border-radius: var(--main-border-radius);
                }
            }
        }

        .close-mobile-menu {
            display: none;
        }
    }

    .container {
        position: relative;
    }

    .social-media-links-color-primary {
        position: absolute;
        bottom: 80px;
        left: 0;

        .link {
            width: 50px;
            height: 50px;
            font-size: 26px;
        }
    }
}

.co-news-slider {
    width: 100%;
    display: flex;
    background: #fff;
    position: relative;
    flex-direction: column;

    .news-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        position: relative;

        .swiper {
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            &.swiper-news-slider {
                width: 70%;

                .swiper-slide {
                    border: 1px solid #e1e1e1;
                    position: relative;
                    overflow: hidden;

                    .image {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        // background: #ff0;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;

                            //background: #0f0;
                            .zoom {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                width: 100%;

                                // background: #f00;
                                img {
                                    max-height: 100%;
                                    max-width: 100%;
                                    // background: #f0f;
                                }
                            }
                        }
                    }
                }
            }

            &.swiper-news-thumbs-slider {
                height: calc(100% - 50px) !important;

                .swiper-slide {
                    opacity: 0.4;
                    cursor: pointer;
                    border-left: 1px solid #ebebeb;
                    border-top: 1px solid #ebebeb;
                    border-right: 1px solid #ebebeb;
                    border-radius: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-width: 2px;
                }

                .swiper-slide-thumb-active {
                    opacity: 1;
                    border-color: var(--color-secondary);
                    border: 1px solid #d4d4d4;
                }
            }
        }

        .title-and-slider {
            width: 35%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .headline-title {
                background: var(--color-primary);
                width: 100%;
                text-align: center;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.co-news-details-card {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 11px;
    width: 100%;
    height: fit-content !important;
    border-bottom: 1px solid var(--color-secondary);
    gap: 10px;

    &:last-child {
        border-bottom: none;
    }

    .co-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: var(--main-border-radius);

        img {
            width: 90px;
            height: 90px;
            border-radius: var(--main-border-radius);
        }
    }

    .co-details {
        .title {
            line-height: 1;
            margin-bottom: 10px !important;
        }
    }
}

.ltr {
    direction: ltr !important;
}

.new-slider-card-lg {
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .title {
        position: absolute;
        bottom: 0 !important;
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 26px;
        line-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-secondary-50);
        margin: 0px !important;
    }
}

.news-pagination {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    padding: 10px;
    z-index: 9;
    margin: 0;
    width: 50px !important;
    top: 0 !important;
    height: 100% !important;
    flex-direction: column;
    gap: 5px;

    .swiper-pagination-bullet {}
}

.blog-small-card {
    border: 1px solid var(--color-gray-light);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    overflow: hidden;
    transition: var(--main-transition);

    .image-wrapper {
        img {
            width: 410px;
            height: 210px;
            overflow: hidden;
            object-fit: cover;
        }
    }

    .details-wrapper {
        padding: 10px;

        .title {
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;
        }
    }
}






/* Base styles for the menu */
.nav-menu,
.submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu .menu-item {
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #FFF;

    &:hover{
        background-color:  var(--color-primary);
    }
}

/* Styles for the submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    background-color: var(--color-secondary);
    box-shadow: 0 0 5px #ffffff5e;
    border-radius: 10px;
    min-width: 180px;
    overflow: hidden;
}

.submenu .submenu {
    top: 0;
    left: 100%;
}

/* Hover effects */
.nav-menu .menu-item:hover>.submenu,
.submenu-item:hover>.submenu {
    display: block;
}

.menu-item a.active {
    font-weight: bold;
    color: var(--color-secondary);
}



@import "_media";